.App {
  padding: 20px;
}
.form-container {
  width: 500px;
  margin-left: 50px;
}
.nav {
  background-color: blue;
}
.meetup-card,
.next-meetup,
.media-members,
.past-card{
  background-color: lightgray;
}
.meetup-card {
  padding: 16px;
  margin-top: 70px;
  border-radius: 0;
}
.base-footer {
  border-top: 2px solid black;
  padding-top: 36px;
  margin: 48px 32px;
  text-align: center;
}
